<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.windows.net/{0}" />
    <add key="ida:Tenant" value="developertenant.onmicrosoft.com" />
    <add key="ida:ClientId" value="2d30c300-2218-4cb8-b702-96ef1c7eb0b4" />
    <add key="ida:RedirectUri" value="http://OBOClient" />
    <add key="todo:TodoListResourceId" value="https://developertenant.onmicrosoft.com/OBOTodoListService" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44321" />
  </appSettings>
</configuration>